<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image Upload</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='app.js') }}" defer></script>
</head>
<body>
    <h1>License Plate Detection</h1>
    <h3>Upload Image</h3>
    

    <!-- Dropdown with checkboxes -->
     <div class="input">
        <div class="dropdown">
            <button class="dropdown-button" onclick="toggleDropdown()">Select Models ▼</button>
            <div id="dropdownContent" class="dropdown-content">
                <label>
                    <input type="checkbox" id="selectAll" onclick="toggleSelectAll()"> Select All
                </label>
                <!-- ByteTrack Models -->
                <h5>ByteTrack</h5>
                <label><input type="checkbox" value="lp-yolov5n.pt"> Yolov5n</label>
                <label><input type="checkbox" value="lp-yolov5s.pt"> Yolov5s</label>
                <label><input type="checkbox" value="lp-yolov5m.pt"> Yolov5m</label>
                <label><input type="checkbox" value="lp-yolov5l.pt"> Yolov5l</label>
                <label><input type="checkbox" value="lp-yolov5x.pt"> Yolov5x</label>

                <label><input type="checkbox" value="lp-yolov8n.pt"> Yolov8n</label>
                <label><input type="checkbox" value="lp-yolov8s.pt"> Yolov8s</label>
                <label><input type="checkbox" value="lp-yolov8m.pt"> Yolov8m</label>
                <label><input type="checkbox" value="lp-yolov8l.pt"> Yolov8l</label>
                <label><input type="checkbox" value="lp-yolov8x.pt"> Yolov8x</label>

                <label><input type="checkbox" value="lp-yolov9n.plp-t"> Yolov9n</label>
                <label><input type="checkbox" value="lp-yolov9s.pt"> Yolov9s</label>
                <label><input type="checkbox" value="lp-yolov9m.pt"> Yolov9m</label>
                <label><input type="checkbox" value="lp-yolov9l.pt"> Yolov9l</label>
                <label><input type="checkbox" value="lp-yolov9x.pt"> Yolov9x</label>

                <label><input type="checkbox" value="lp-yolov10n.pt"> Yolov10n</label>
                <label><input type="checkbox" value="lp-yolov10s.pt"> Yolov10s</label>
                <label><input type="checkbox" value="lp-yolov10m.pt"> Yolov10m</label>
                <label><input type="checkbox" value="lp-yolov10l.pt"> Yolov10l</label>
                <label><input type="checkbox" value="lp-yolov10x.pt"> Yolov10x</label>

                <label><input type="checkbox" value="lp-yolo11n.pt"> Yolo11n</label>
                <label><input type="checkbox" value="lp-yolo11s.pt"> Yolo11s</label>
                <label><input type="checkbox" value="lp-yolo11m.pt"> Yolo11m</label>
                <label><input type="checkbox" value="lp-yolo11l.pt"> Yolo11l</l
                <label><input type="checkbox" value="lp-yolo11x.pt"> Yolo11x</label>

               

                <label><input type="checkbox" value="tvfasterrcnn"> FaterRCNN</label>
                <label><input type="checkbox" value="tvfasterrcnnmobilenet"> FasterRCNN_MobileNET</label>
                <label><input type="checkbox" value="tvfasterrcnnv2"> FasterRCNN_V2</label>
                <label><input type="checkbox" value="tvretinanet"> RetinaNET</label>
                <label><input type="checkbox" value="tvssd"> SSD</label>
                <label><input type="checkbox" value="tvssdlite"> SSDLite</label>
                <label><input type="checkbox" value="tvfcosresnet50"> FCOS_RestNET50</Sort>

                <label><input type="checkbox" value="tfefficientdetd0"> Efficientdetd0</label>
                <label><input type="checkbox" value="tfefficientdetd1"> Efficientdetd1</label>
                <label><input type="checkbox" value="tfefficientdetd2"> Efficientdetd2</label>
                <label><input type="checkbox" value="tfefficientdetd3"> Efficientdetd3</label>
                <label><input type="checkbox" value="tfefficientdetd4"> Efficientdetd4</label>
                <label><input type="checkbox" value="tfefficientdetd5"> Efficientdetd5</label>
                <label><input type="checkbox" value="tffaster-rcnn-restnet50"> Faster-RCNN-Restnet50</label>
                <label><input type="checkbox" value="tffaster-rcnn-restnet-v2"> Faster-RCNN-RestnetV2</label>
                <label><input type="checkbox" value="tffaster-rcnn-restnet-101"> Faster-RCNN-Restnet101</label>
                <label><input type="checkbox" value="tfretinanet"> Retinanet</label>
                <label><input type="checkbox" value="tfssdmobilenetv2"> SSDmobilenetv2</label>
                
            </div>
            <input type="file" id="videoInput" accept="image/*">
        </div>
        <button id="uploadButton" onclick="uploadVideo()">Upload</button>
    </div>
    <!-- Processing indicator (hidden initially) -->
    <p id="loadingText" style="display: none;">Processing... Please wait.</p>

    <!-- Response container -->
    <pre id="responseText" style="white-space: pre-wrap;"></pre>
    <!-- <div id="responseText">
        <pre id="jsonOutput"></pre>
    </div> -->
</body>
</html>
